@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #0043ef;
  --color-accent: #C49E3A;
  --color-background: #F9F7EF;
  --color-text: #3C4048;
  --color-secondary: #4B5864;
  --font-sans: var(--font-inter), sans-serif;
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
}

:root {
  --font-inter: 'Inter', sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
